*{
    box-sizing: border-box;
}
.header{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 100px 100px;

}
.pic-column{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 5px solid #ffff;
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition: transform .5s ease;
}
.img-hover-zoom:hover img{
    position: relative;
    top: -15px;
}

@media screen and (max-width:860px) {
    .pic-column{
        min-width: 30%;
    }
    .header{
        font-size: 45px;
    }
}
@media screen and (max-width:650px){
    .header{
        font-size: 38px;
    }
    .pic-column{
        min-width: 45%;
    }
}
@media screen and (max-width:540px){
    .header{
        font-size: 25px;
    }
    
}
@media screen and (max-width:440px){
    .header{
        font-size: 18px;
    }
    .pic-column{
        justify-content: center;
    }
}
@media screen and (max-width:270px){
    .header{
        font-size: 10px;
    }
    
}